html, body {
	height: 100%;
}

.main-wrapper {
	display: flex;
	flex-wrap: nowrap;
	width: 1650px;
	height: auto;
	min-height: calc(100% - 106px); /* 우측 값 : nav 높이*/
	margin: 0 auto ;
	padding-top: 40px;
	padding-bottom: 172px;
	
}

.main-content-wrapper{
	margin-left: 10px;
	width: 100%;
}