<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<th:block layout:fragment="customHead"></th:block>
<th:block layout:fragment="customStyle">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.0/dist/jquery.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>

	<link href="/style/main/community/post_add.css" rel="stylesheet" type="text/css" />
	<style th:inline="css" type="text/css"></style>
	<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/summernote/lang/summernote-ko-KR.js"></script>
</th:block>


<th:block layout:fragment="content">
	<div class="postBlock topType">
		<h2 class="myType" th:text="${type}+' > 작성하기'"/>
	</div>
	<div class="postBlock editorbox">
		<div class="myselect">
			<span>카테고리</span>
			<div class="selectbox">
				<label for="select"></label>
				<select class="col-auto form-select" name="category" id="categorySelect">
				    <option th:each="categories : ${categories}" th:value="${categories.name()}" th:text="${categories.name()}" th:selected="${ct == categories.name()}"/>
				</select>
			</div>
		</div>
		<form action="/community/add" method="post">
			<input type="hidden" id="type" name="type"  th:value="${type}">
			<input type="hidden" id="categoryType" name="categoryType"  th:value="${ct}">
			<input class="titleWrite" type="text" name="title" placeholder="제목을 입력하세요" required/><br />
			<textarea id="summernote" name="content" required></textarea>
			<div class="btns">
				<a th:href="@{/community/list(type=${type}, categoryType=${ct})}" class="btn list-btn">취소</a>
				<button class="btn btn-dark goWrite" type="button" onclick="goWrite(this.form)">글쓰기</button>
			</div>
		</form>
	</div>
	
	
	<script>
        $('#summernote').summernote({
            height: 300,
            minHeight: 500,
            maxHeight: 500,
            toolbar: [
                //[groupName, [list of button]]
                ['fontname', ['fontname']],
                ['fontsize', ['fontsize']],
                ['style', ['bold', 'italic', 'underline','strikethrough', 'clear']],
                ['color', ['forecolor','color']],
                /* ['table', ['table']], */
                ['para', ['ol', 'ul', 'paragraph']],
                ['height', ['height']],
                /* ['insert',['picture','link','video']], */
                ['insert',['picture','link']],
                /* ['view', ['fullscreen', 'help']] */
                ['view', ['codeview']]
            ],
            fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New','맑은 고딕','궁서','굴림체','굴림','돋움체','바탕체'],
            fontSizes: ['8','9','10','11','12','14','16','18','20','22','24','28','30','36','50','72']
        });
        $('p').css('margin-bottom','0');
    </script>
</th:block>



<th:block layout:fragment="customScript">
	<!-- list 되돌아가는지 확인 -->
	<script th:inline="javascript">
		$(document).ready(function() {
	        $(document).on("click", ".list-btn", function() {
	            if (!confirm("작성중인 글이 저장되지 않습니다. 목록으로 나가시겠습니까?")) {
	                return false; // "취소"를 선택했을 때 false 반환
	            }
	        });
	    });
	</script>
	
	<script>
	    $(function() {
	        var selectTarget = $('.selectbox select');
	        var labelTarget = $('.selectbox label');
	
	        // 페이지 로드 시 선택된 값 표시
	        var selectedValue = selectTarget.children('option:selected').text();
	        labelTarget.text(selectedValue);
	
	        selectTarget.change(function(){
	            var select_name = $(this).children('option:selected').text();
	            labelTarget.text(select_name);
	        });
	    });
	</script>
	<script th:inline="javascript">
		$(function() {
		    $('#categorySelect').change(function(e) {
		        var selectedValue = $(this).val();
		        $('#categoryType').val(selectedValue);
		    });
		});
	</script>
	
	<!-- 입력란 비었으면 alert  -->
	<script>
		function goWrite(frm) {
			var title = frm.title.value;
			var content = frm.content.value;
			
			if (title.trim() == ''){
				alert("제목을 입력해주세요");
				return false;
			}
			if (content.trim() == ''){
				alert("내용을 입력해주세요");
				return false;
			}
			frm.submit();
		}
	</script>
	
	<!-- select label 변경 -->
	<script>
		$(function() {
		    var selectTarget = $('.selectbox select');

		    selectTarget.change(function(){
		        var select_name = $(this).children('option:selected').text();
		        $(this).siblings('label').text(select_name);
		    });
		});
	</script>
</th:block>
</html>