<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<th:block layout:fragment="customHead"></th:block>
<th:block layout:fragment="customStyle">
	<link href="/style/main/community/post_detail.css" rel="stylesheet" type="text/css" />
	<style th:inline="css" type="text/css"></style>
</th:block>

<th:block layout:fragment="content">
	<div th:if="${loggedUser != null}">
		<input th:type="hidden" th:value="${loggedUser.consumerId}" class="loggedUserId"/>
	</div>
	
	<div class="postBlock" id="typeTitle">
		<span th:if="${type.toString()}=='꿀팁'" th:text="Tip" style="color: white;"></span>
		<span th:if="${type.toString()}=='질문'" th:text="Question" style="color: white;"></span>
		<h1 th:text="${type}" style="color: #47a385;"></h1>
	</div>
	
	<div class="postBlock">
		<ul id="category">
		    <li th:each="category : ${categories}" >
		        <a th:href="@{/community/list(categoryType=${category}, type=${type})}" th:text="${category}"  th:class="${category.name()} == ${ct} ? 'black-underline' : ''" ></a>
		    </li>
		</ul>
	</div>
	
	<br />
	
	<div class="postBlock post-main">
		<div class="content-box">
			<div class="content-title">
				<h2 th:text="${post.Title}" class="draggable"/>
				<div>
					<span class="content-info content-date" th:text="${#temporals.format(post.createDate, 'yyyy-MM-dd')}"/>
					<span class="content-info content-user" th:text="${post.user.name}"/>
					<span class="content-info content-view" th:text="'조회수 ' + ${post.viewCount}"/>
				</div>
			</div>
			<div class="title-line"></div>
			<div class="content-text draggable" th:text="${post.content}"/>
			<div class="text-line"></div>
			<div class="content-btns">
				<a th:href="@{/community/list(type=${type}, categoryType=${ct})}" class="btn content-btn b1">목록</a>
				<a th:if="${isMyPost} == 'isMyPost'" th:href="@{/community/edit(postId=${post.postId})}" class="btn content-btn b2">수정</a>
				<a th:if="${isMyPost} == 'isMyPost'" th:href="@{/post_delete(postId=${post.postId}, type=${type}, categoryType=${ct})}" class="btn content-btn b3 content-del">삭제</a>
			</div>
		</div>
		
		<span id="commentCount">댓글 </span>
		<div class="commentcount-line"></div>
		
		<div class="comment-box">
			<!-- 댓글 목록 출력 -->
			<div id="commentList"></div>
			
			<!-- 댓글 작성 -->
			<div class="commetnAdd-box" th:unless="${#authorization.expression('hasRole(''ROLE_SELLER'')')}"><!-- <div th:if="${뫄뫄 != null}"> -->
				<div class="imagePreview">
					<img th:if="${#authorization.expression('hasRole(''ROLE_CONSUMER'')')}" th:src="@{/consumer/profile/photo2(userId=${loggedUser.consumerId})}" alt="user Photo" class="profileImg"/>
					<img th:unless="${#authorization.expression('hasRole(''ROLE_CONSUMER'')')}" src="/default/profile/photo" alt="default Photo" class="profileImg"/>
				</div>
				<textarea id="target-textarea" name="" class="content" rows="3" placeholder="댓글을 작성하세요" required></textarea>
				<button class="commentAdd btn">등록</button>
			</div>
		</div>
	</div>
</th:block>


<th:block layout:fragment="customScript">
	<!-- textarea 자동길이조절 -->
	<script th:inline="javascript">
		function resize() {
	        let textarea = document.getElementById("target-textarea");
	        if(textarea) {
		        textarea.style.height = "auto"; // 자동으로 높이를 조정하도록 설정
		        textarea.style.height = textarea.scrollHeight + 10 + "px"; // 스크롤이 생긴 후의 높이로 설정
	        }
	    }
	
	    document.addEventListener("input", resize);
	    window.addEventListener("load", resize);
	</script>
	<script th:inline="javascript">
	/*
		[ data 보내는 방식 ]
		
		POST : data: JSON.stringify(객체명) : 객체를 JSON문자열로 변환해 데이터로 전달. 
											  객체의 속성들이 JSON형식으로 직렬화되어 서버로 전송됨
											  복잡한 데이터전송에 유용
		GET : data : { key : value } 		: JavaScript객체 리터럴형태로 데이터 전달.
											  ex) ?commentId=13과 같은 형태로 URL에 파라미터가 추가됨
											  간단한 데이터/단일값 전달에 유용
	*/
		$(document).ready(function() {
			
			// 게시글 html로 변환
			var contentTextHtml = $('.content-text').html();
			var contentText = $('.content-text').text();
			$(".content-text").empty();
			/* contentText = contentText.replace(/<br>/g, "\n"); */
			/* console.log(contentTextHtml);
			console.log(contentText); */
			$('.content-text').append(contentText);
			
			// 게시글 삭제 확인알림
			$(document).on("click", ".content-del", function() {
				if(!confirm("게시글을 삭제하시겠습니까?")) {
					return false;
				}
			});
			
			// 댓글작성 버튼클릭
		 	$(".commentAdd").click(function() {
	            var content = $(".content").val(); // 작성한 댓글
	            content = content.replace(/(?:\r\n|\r|\n)/g, '<br>');
	            var postId = [[${post.postId}]]; // 게시글 ID
	            var userId = $(".loggedUserId").val();
				if(userId == null) {
					alert('로그인 후 이용해주세요');
				}
	            
	            if (content !== "" && userId != null) {
	            	var commentDto = {
	                    content: content,
	                    postId: postId,
	                    userId: userId
	                };

		            $.ajax({
		                type: "POST",
		                url: "/comment_add", // 댓글작성을 처리하는 컨트롤러 경로
		                data: JSON.stringify(commentDto),
		                contentType: "application/json",
		                success: function(result) {	//댓글작성 성공
		                	console.log('댓글작성 성공')
				        	loadComments();
		                	$(".content").val("");
		                },
		                error: function(error) {	//댓글작성 실패
		                	console.log('댓글작성 실패')
		                }
		            });
	            }
	        });
			
			// 댓글삭제 버튼클릭
		 	$(document).on("click", ".commentDel", function() {
		 		var result = confirm("댓글을 삭제하시겠습니까?");
		 		var commentId = $(this).closest('.commentsList').find('.commentId').val();
				
		 		if(result) {
			 	    $.ajax({
			 	    	type: "GET",
			 	    	url: "/comment_delete",
			 	    	data: { commentId: commentId },
			 	    	success : function(result) {
			 	    		console.log('댓글삭제 성공 - '+ commentId);
			 	    		loadComments();
			 	    	},
			 	    	error : function(error) {
			 	    		console.log('댓글삭제 실패');
			 	    	}
			 	    })
		 		}
		 	});
			
		 	
			// 댓글 수정 버튼클릭
		 	var isEditReplyMode = false;	// 수정/답글 폼이 열려있는지 여부를 저장하는 변수
			$(document).on("click", ".commentEdit", function() {
				if(isEditReplyMode) {
					cancelReplyMode();
					cancelEditMode();
				}
				/* 로그인정보 */
				var loggedUser = $('.loggedUserId').val();
				
				var commentContent = $(this).closest('.commentsList').find("span.commentContent").html();
				commentContent = commentContent.replace(/<br>/g, "\n");
				var commentId = $(this).closest('.commentsList').find('.commentId').val();
				var commentType = parseInt($(this).closest('.commentsList').find('.commentType').val());
				var editForm = '<div class="editForm"> <div class="thisEdit" style="display: flex; margin-left: calc(50px * ' + commentType + ')">'
					 + '<div class="imagePreview"> <img src="/consumer/profile/photo2?userId=' + loggedUser + '" alt="user Photo" class="profileImg"/> </div>'
	                 + '<textarea id="target-textarea" class="content" name="content" rows="3" placeholder="댓글을 작성하세요" required>' + commentContent + '</textarea>'
	                 + '<div class="editButtons"> <button class="saveEdit btn">수정</button>'
	                 + '<button class="cancelEdit btn">취소</button> </div>'
	                 + '</div> </div>'; 
                
	            $(this).closest('.commentsList').append(editForm);
                $(this).closest('.thisComment').hide();
                isEditReplyMode = true;
			})
			
			// 수정취소 버튼클릭
			$(document).on("click", ".cancelEdit", function() {
				cancelEditMode();
			});
		 	
		 	// 수정등록 버튼클릭
			$(document).on("click", ".saveEdit", function() {
	            var content = $(".content").val();
	            content = content.replace(/(?:\r\n|\r|\n)/g, '<br>');
	            var commentId = $(this).closest('.commentsList').find('.commentId').val();
	            var commentType = $(this).closest('.commentsList').find('.commentType').val();
	            
	            if (content !== "") {

		            $.ajax({
		                type: "GET",
		                url: "/comment_edit",
		                data: { content:content, commentId:commentId, commentType:commentType},
		                contentType: "application/json",
		                success: function(result) {
		                	console.log('댓글수정 성공')
		                	loadComments();
		                	cancelEditMode();
		                },
		                error: function(error) {
		                	console.log('댓글수정 실패')
		                }
		            });
	            }
	        });
		 	
		 	// 답글 버튼클릭
		 	$(document).on("click", ".commentReply", function() {
		 		if(isEditReplyMode) {
		 			cancelEditMode();
		 			cancelReplyMode();
		 		}
		 		
		 		var parentId = $(this).closest('.commentsList').find('.commentId').val();
		 		var commentType = parseInt($(this).closest('.commentsList').find('.commentType').val())+1;
		 		var editForm =
		 		'<div class="replyForm"> <hr> <div class="thisReply" style="display: flex; margin-left: calc(50px * ' + commentType + ')">'
		 		+'<div class="imagePreview"> </div>'
				+'<textarea id="target-textarea" name="" class="content" rows="3" placeholder="답글을 작성하세요" required></textarea>'
				+'<div class="replyButtons"> <button class="saveReply btn">등록</button>'
				+'<button class="cancelReply btn">취소</button> </div> </div>'
				+'<div class="isReply" style="margin-left: calc(50px * ' + commentType + ' - 20px)"></div> </div>';
				
				$(this).closest('.commentsList').append(editForm);
				var loggedUser = $(".loggedUserId").val();
				if(loggedUser != null) {
					$(this).closest('.commentsList').find('.imagePreview').append('<img src="/consumer/profile/photo2?userId=' + loggedUser + '" alt="user Photo" class="profileImg"/>');
				} else {
					$(this).closest('.commentsList').find('.imagePreview').append('<img src="/default/profile/photo" alt="default Photo" class="profileImg"/>');
				}
				isEditReplyMode = true;
		 	});
		 	
		 	// 답글취소 버튼클릭
			$(document).on("click", ".cancelReply", function() {
				cancelReplyMode();
			});
		 	
		 	// 답글등록 버튼클릭
		 	$(document).on("click", ".saveReply", function() {
		 		var userId = $(".loggedUserId").val();
				if(userId == null) {
					alert('로그인 후 이용해주세요');
				}
		 		var content = $(".content").val(); // 작성한 댓글
	            content = content.replace(/(?:\r\n|\r|\n)/g, '<br>');
	            var postId = [[${post.postId}]]; // 게시글 ID
	            var parentId = $(this).closest('.commentsList').find('.commentId').val();
	            
	            if (content !== "" && userId != null) {
	            	var commentDto = {
	                    content: content,
	                    postId: postId,
	                    userId: userId,
	                    parentId: parentId
	                };

		            $.ajax({
		                type: "POST",
		                url: "/comment_add", // 댓글작성을 처리하는 컨트롤러 경로
		                data: JSON.stringify(commentDto),
		                contentType: "application/json",
		                success: function(result) {	//댓글작성 성공
		                	console.log('답글작성 성공')
				        	loadComments();
		                	$(this).closest(".content").remove();
		                },
		                error: function(error) {	//댓글작성 실패
		                	console.log('답글작성 실패')
		                }
		            });
	            }
		 	})
		 	
	        loadComments();
		});
											  
		
		// 댓글수정 입력란 remove, 기존댓글 보여주기
		function cancelEditMode() {
			$(".editForm").remove();
			$(".thisComment").show();
			isEditReplyMode = false;
		}
		
		// 답글 입력란 remove
		function cancelReplyMode() {
			$(".replyForm").remove();
			isEditReplyMode = false;
		}
											  
		// 댓글목록 가져오기
		function loadComments() {
			var postId = [[${post.postId}]];
			var hasSellerRole = [[${#authorization.expression('hasRole(''ROLE_SELLER'')')}]];
			
			$.ajax({
				type: "GET",
				url: "/get_comments", //댓글목록 가져오는 컨트롤러 경로
				data: { postId: postId },
				success: function(result) {	//댓글목록 가져오기 성공
					console.log('댓글목록 가져오기 성공')
	                // 받은 데이터를 반복문으로 돌면서 각 댓글을 HTML로 생성하여 목록에 추가 처리
	                var commentList = $("#commentList");
	                commentList.empty(); // 이전 댓글 목록 초기화
	                
	                function padZero(num) {
	                    return num < 10 ? '0' + num : num;
	                }
					
	                /* 총 댓글개수 */
	                var allComments = result.length;
	                var commentCount = $("#commentCount");
	                commentCount.empty();
	                commentCount.append('댓글 '+allComments);
	                
	                /* 내 로그인 정보 */
	                var loggedUser = $(".loggedUserId").val();
	                
	                for (var i = 0; i < result.length; i++) {
	                    var comment = result[i];
	                    var content = comment.content;
	                    var userId = comment.userId;
	                    var userName = comment.userName;
	                    var createDate = new Date(comment.createDate);
	                    var formattedDate = createDate.getFullYear() + '-' + padZero(createDate.getMonth() + 1) + '-' + padZero(createDate.getDate());
	                    var profilePhoto = comment.profilePhoto;
	                    var commentId = comment.commentId;
	                    var parentId = comment.parentId;
	                    var commentType = comment.commentType;
	                    if(parentId === 0) parentId = '';
	                    
	                    // 댓글 HTML 생성 및 목록에 추가
	                    if(0 < i) commentList.append('<hr/>');
       					var commentHtml = '<div class="commentsList"> <input type="hidden" class="commentId" value="' + commentId + '" />'
       					+ '<input type="hidden" class="parentId" value="' + parentId + '" /> <input type="hidden" class="commentType" value="' + commentType + '" /> <div class="thisComment" style="display: flex; margin-left: calc(50px * ' + commentType + ')">'
       					+ '<div class="imagePreview"> <img src="/consumer/profile/photo2?userId=' + userId + '" alt="user Photo" class="profileImg"/> </div>'
       					+ '<div class="comment-middle"> <div class="comment-name">' + userName + '</div>'
                        + '<span class="commentContent draggable">' + content + '</span> <div style="display: flex" class="comment-bottom"> <span style="margin-right:10px">' + formattedDate + '</span>'
                        + '</div> </div> <div class="comment-btn"> </div> </div> </div>';
						
	                    commentList.append(commentHtml);
	                    if(!hasSellerRole) {
	                    	var addReplyAuthority = $(".comment-bottom").last();
	                    	addReplyAuthority.append('<div class="commentReply" style="cursor: pointer;">답글</div>');
	                    }
                        if(loggedUser == userId) {
                        	var addCommentAuthority = $(".comment-btn").last();
                        	addCommentAuthority.append('<span class="commentEdit" style="cursor: pointer;">수정</span> <span>｜</span> <span class="commentDel" style="cursor: pointer;">삭제</span>')
                        }
	                    if(parentId !== null) {
	                    	var addChildComment = $(".commentsList").last();
	                    	addChildComment.append('<div class="isChildComment" style="margin-left: calc(50px * ' + commentType + ' - 20px)"></div>');
	                    }
	                }
	            },
	            error: function(error) {
					console.log('댓글목록 가져오기 실패')
	            }
			})
		} // 댓글목록 가져오기
	</script>
</th:block>
</html>