<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<th:block layout:fragment="customHead"></th:block>

<th:block layout:fragment="customStyle">
	<link href="/style/main/community/post_list.css" rel="stylesheet" type="text/css" />
	<style th:inline="css" type="text/css"></style>
</th:block>

<th:block layout:fragment="content">
	<div class="postListBlock" id="typeTitle">
		<span th:if="${type}=='꿀팁'" th:text="Tip" style="color: white;"></span>
		<span th:if="${type}=='질문'" th:text="Question" style="color: white;"></span>
		<h1 th:text="${type}" style="color: #47a385;"></h1>
	</div>
	
	<div class="postListBlock">
		<ul id="category">
		    <li th:each="category : ${categories}" >
		        <a th:href="@{/community/list(categoryType=${category}, type=${type})}" th:text="${category}"  th:class="${category.name()} == ${ct} ? 'black-underline' : ''" ></a>
		    </li>
		</ul>
	</div>
	
	<br />
	
	<div class="postListBlock" id="postList-main">
		<div id="postListSearch">
			<h4><span th:text="${type}"/> 게시판 - <span th:text="${ct}"/></h4>
			<div>
				<form action="/community/list" method="post" id="postForm">
					<input type="hidden" id="type" name="type"  th:value="${type}">
					<input type="hidden" id="categoryType" name="categoryType"  th:value="${ct}">
					<input type="hidden" id="page" name="page"  th:value="0">
					<input type="hidden" id="pageSize" name="pageSize" th:value="${ps}">
					<div class="selectbox">
						<label for="select">제목</label>
						<select name="searchType" id="select">
				            <option class="optionItem" value=title selected>제목</option>
				            <option class="optionItem" value="content">내용</option>
				            <option class="optionItem" value="user">작성자</option>
				        </select>
					</div>
					<div>
				        <input type="text" name="searchWord" class="searchbox" placeholder="검색"/>
						<button type="submit" id="searchBtn"><i class="bi bi-search"></i></button>
					</div>
				</form>
			</div>
		</div>
		
		
		<div class="tableDiv">
			<table class="postTable">
				<thead>
					<tr>
						<th style="width: 6%;">No.</th>
						<th style="width: 64%;">제목</th>
						<th style="width: 10%;">작성자</th>
						<th style="width: 13%;">작성일</th>
						<th style="width: 7%;">조회수</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="post,state : ${pageResult.getContent()}">
						<td class="postNo" th:text="${post.postId}"></td>
						<td class="postTitle"><a th:href="@{/community/detail(postId=${post.postId})}" th:text="${post.title}"></a></td>
						<td class="postgray" th:text="${post.user.name}"></td>
						<td class="postgray"  th:text="${#temporals.format(post.createDate, 'yyyy-MM-dd')}"></td>
						<td class="postgray"  th:text="${post.viewCount}"></td>
					</tr>
					<tr th:if="${#lists.isEmpty(pageResult.getContent())}">
						<td class="nonePost" colspan="5">등록된 게시글이 없습니다.</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<div class="pagingblock">
			<!-- pageSize  --> 
			<div class="selectbox second" style="width: 60px;">
				<label for="select"></label>
				<select class="col-auto form-select" id="rowPerPage" name="rowPerPage">
						<th:block th:each="num : ${#numbers.sequence(10, 50, 10)}">
			    		<option th:value="${num}" th:text="${num}" th:attr="selected=${ps==num ? 'true' : 'false'}"></option>										   					
			    	</th:block>											
				</select>
			</div>
		
			<!-- <ul class="col-9 btn-sm pagination justify-content-center"> -->
			<div class="page">
				<ul class="pagination pagination-modal">
					<th:block th:if="${bp > 1}">
						<li><a th:href="@{/community/list(page=0, pageSize=${ps}, searchType=@{st}, searchWord=${sw}, type=${type}, categoryType=${ct})}" class="arrow arrow-lf left"><i class="bi bi-rewind-fill"></i></a></li>
						<li><a th:href="@{/community/list(page=${bp-ns-1}, pageSize=${ps}, searchType=${st}, searchWord=${sw}, type=${type}, categoryType=${ct})}" class="arrow arrow-l left"><i class="bi bi-play-fill"></i></a></li>
					</th:block>
					
					<th:block th:each="page : ${#numbers.sequence(pageInfo.getBeginPage(), pageInfo.getEndPage())}" th:if="${page > 0}">
						<li th:classappend="${(page-1)==pageInfo.getPage() ? 'active' : ''}"><a th:href="@{/community/list(page=${page-1}, pageSize=${ps}, searchType=${st}, searchWord=${sw}, type=${type}, categoryType=${ct})}" th:text="${page}" class="num"></a></li>
					</th:block>	
					
					<th:block th:if="${ ep < tp }">
						<li><a th:href="@{/community/list(page=${ep}, pageSize=${ps}, searchType=${st}, searchWord=${sw}, type=${type}, categoryType=${ct})}" class="arrow arrow-r right"><i class="bi bi-play-fill"></i></a></li>				
						<li><a th:href="@{/community/list(page=${tp-1}, pageSize=${ps}, searchType=${st}, searchWord=${sw}, type=${type}, categoryType=${ct})}" class="arrow arrow-rf right"><i class="bi bi-fast-forward-fill"></i></a></li>				
					</th:block>
				</ul>
			</div>
			<a th:if="${#authorization.expression('hasRole(''ROLE_CONSUMER'')')}" th:href="@{/community/add(type=${type}, categoryType=${ct})}" class="post-write btn">글쓰기</a>
			<a th:unless="${#authorization.expression('hasRole(''ROLE_CONSUMER'')') or #authorization.expression('hasRole(''ROLE_SELLER'')')}" th:href="@{/login}" class="post-write btn">글쓰기</a>
		</div>
	</div>
</th:block>
	
<th:block layout:fragment="customScript">
	<script>
	    $(function() {
	        var selectTarget = $('.selectbox select').eq(1);
	        var labelTarget = $('.selectbox label').eq(1);
	
	        // 페이지 로드 시 선택된 값 표시
	        var selectedValue = selectTarget.children('option:selected').text();
	        labelTarget.text(selectedValue);
	
	        selectTarget.change(function(){
	            var select_name = $(this).children('option:selected').text();
	            labelTarget.text(select_name);
	        });
	    });
	</script>
	
	
	<!-- pageSize 변경 -->
	<script>
		$(function() {
			
			// 목록 갯수 변경
			$('#rowPerPage').change(function(e) {
				$('#page').val(0);
				$('#pageSize').val($(this).val());
				$('#postForm').submit();
			});	//#rowPerPage

		});
	</script>
	
	<!-- select label 변경 -->
	<script>
		$(function() {
		    var selectTarget = $('.selectbox select');

		    selectTarget.change(function(){
		        var select_name = $(this).children('option:selected').text();
		        $(this).siblings('label').text(select_name);
		    });
		});
	</script>
</th:block>

</body>
</html>