<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <footer>
        <div class="footerContain">
            <img src='/images/footer_logo.png' alt="footer로고">
            <div class="company-info">
                <p class="company-name">(주)지브로</p>
                <p class="company-text">대표 : 이종훈</p>
                <p class="company-text">주소 : 서울 서초구 서초대로77길 55 에어프로스퀘어 3층</p>
                <p class="company-copy">Copyright &copy; 2023 zebro. All Rights Reserved.</p>
            </div>
              
        </div>
    </footer>
</html>
