<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 변경 안내</title>
</head>
<body >
    <div style='width:500px; height: auto; border: 2px solid #86c69f; margin: 20px auto;'>
        <div style='padding: 30px 30px;'>
            <img src="cid:logo-image" width="100px">
            <h2 style='text-align: left;'> 비밀번호 변경 안내</h2>
            <hr/>
            <div style='padding: 20px;'>
                <p>안녕하세요! <span style='font-weight: bold;'>1인가구 생활공간 중계 플랫폼 - 지브로</span>입니다.</p>
                <p><span style='font-weight: bold;' th:utext="${#strings.substring(name, 0, 1)}+'*'+${#strings.substring(name, 2)}">홍*동</span> 회원님이 요청하신 비밀번호 변경 메일입니다.</p>
                <br>
                <p>아래 링크로 접속하시어 비밀번호를 변경해주시기 바랍니다.</p>
                <div style='margin-top:40px; padding: 20px; background-color: #acda93;'>
                    <a th:href='${mailSendDomail+"/"+userType+"/password/"+token}' th:text='${mailSendDomail+"/"+userType+"/password/"+token}'>http://localhost:8090/consumer/password/7bbc8077-9483-44fd-9786-9356a9825994</a>
                </div>
                <p style='font-size: 12px;'>※ 본 메일을 확인하는 즉시 접속하시어 비밀번호를 변경해주시기 바랍니다.</p>
                <p style='font-size: 12px;'>※ 링크 만료 예정 : <span th:text="${expiredDateString}">2023.07.21 09:20</span>까지</p>
                <p>감사합니다.</p>
            </div>
        </div>
        <div style='background-color: rgb(230, 230, 230); padding:20px; font-size: 12px;'>
            <span>본 메일은 발신전용입니다. </span>  <a th:href='${mailSendDomail}'>홈페이지로 이동</a>
            <hr style='margin-top: 10px; margin-bottom: 10px;'>
            <p style='line-height: 0.9em;'>(주)지브로</p>
            <p style='line-height: 0.9em;'>대표 : 이종훈</p>
            <p style='line-height: 0.9em;'>주소 : 서울 서초구 서초대로77길 55, 에이프로스퀘어 3층</p>
        </div>
    </div>
</body>
</html>